// FCA header-drawer account info
.dashboard-menu {
  display: flex;
  align-items: center;
  height: 100%;

  .balance {
    margin-right: map-get($spacing, 'm');
    text-align: right;

    > p {
      color: map-get($colors, 'grey');
      letter-spacing: 1px;
      font-size: map-get($fontSizes, 'xxxs');
      text-transform: uppercase;
    }

    > .amount {
      font-size: 18px;
      @include fontWeight-semibold;
      color: map-get($colors, "black");
    }
  }

  .current-user {
    height: inherit;
    display: flex;
    position: relative;
    padding-left: map-get($spacing, 'm');
    padding-right: map-get($spacing, 'm');
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: map-get($colors, 'grey-l');
    cursor: pointer;
  }

  .current-user > .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-user > .actions > span {
    margin-left: map-get($spacing, 's');
  }
}

@include mobile {
  .dashboard-menu {
    height: initial;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 40px;
    padding-bottom: 20px;

    > .balance {
      margin-top: map-get($spacing, 'm');
      margin-right: 0;
      text-align: center;
    }

    > .balance > .amount {
      padding-top: map-get($spacing, 'xs');
      font-size: map-get($fontSizes, 'xxl');
      font-weight: bold;
      color: map-get($colors, 'white');
    }

    > .current-user {
      height: initial;
      border-left: none;
    }

    > .current-user > .actions {
      flex-direction: column;
    }

    > .current-user > .actions > span {
      display: none;
    }

    > .current-user > .actions .Avatar.size1 {
      font-size: map-get($fontSizes, 'xxl');
      height: map-get($spacing, "xxxl");
      letter-spacing: -.5px;
      line-height: map-get($spacing, "xxxl");
      width: map-get($spacing, "xxxl");
    }
  }
}
