// TODO: replace the one on fca/bank-account-wizard
.form-step {
  width: map-get($spacing, "xm");
  height: map-get($spacing, "xm");
  border-radius: map-get($borderRadii, "rounded");
  background-color: map-get($colors, "grey");

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: map-get($fontSizes, "xxs");
  color: map-get($colors, "white");

  &.-current {
    background-color: map-get($colors, "brand");
    color: map-get($colors, "white");
  }
}
