// fca responsive drawer
.header-drawer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  // Main navigation
  & > nav {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  & > nav > ul > li {
    @extend .display-inline-block;
    @extend .color-grey;
  }

  & > nav > ul > li > a {
    padding-left: map-get($spacing, 's');
    padding-right: map-get($spacing, 's');
    @extend .marginRight-s;
    @extend .textDecoration-none;
  }

  & > nav > ul > li:hover {
    @extend .color-black;
  }

  & > nav > ul > li.-active {
    color: map-get($colors, "brand");
  }

  & > nav ul li.js-HasDropdown {
    @extend .marginRight-m;
    @extend .position-relative;
  }

  & > nav ul li.js-HasDropdown::after {
    content: '';
    right: 0;
    top: 28px;
    @extend .position-absolute;
    @extend .down-arrow;
  }
}

// Styling for mobile drawer
@include mobile {
  .header-drawer {
    display: block;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background-color: map-get($colors, "gray700");

    // default state for header-drawer is closed
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-out;

    &.header-drawer--open {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }

  // styling for drawer navigation on mobile devices
  .header-drawer > nav {
    width: 100%;
    margin-left: 0;

    & > ul {
      width: inherit;
    }

    & > ul > li {
      width: 100%;
      padding:   map-get($spacing, 'm');
      font-size: map-get($fontSizes, 'm');
      color:     map-get($colors, 'grey');
    }

    & > ul > li:hover,
    & > ul > li.-active {
      color: white;
    }

    & > ul > li.-active {
      background-color: rgba(map-get($colors, "grey-l"), 0.1);
    }
  }
}
