// styling for mobile hamburger menu icon
@include mobile {
  .header-hamburger {
    top: 22px;
    left: 20px;
    z-index: 15;
    width: 20px;
    position: fixed;
    @include preventTextSelect;

    .line {
      height: 2px;
      width: 100%;
      margin-bottom: 5px;
      border-radius: 1px;
      background-color: map-get($colors, "black");
    }

    &.header-hamburger--open .line {
      background-color: white;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}
