.header-logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: image_url('branding/logo-mark-blue.svg');

  @include mobile {
    left: 50%;
    position: absolute;
    margin-left: -30px;
  }
}
