.loan-plan-header {
  background-color: map-get($colors, "white");
  padding: map-get($spacing, "m");
  padding-top: map-get($spacing, "s");

  & > .details {
    display: flex;
    align-items: flex-end;
    font-size: map-get($fontSizes, "s");
    color: map-get($colors, "grey");
  }

  @include mobile {
    text-align: center;

    & > .details {
      align-items: center;
      flex-direction: column;
    }
  }
}
