.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .code {
    color: map-get($colors, "brand");
    font-size: 260px;
    font-family: "Averta-Light";
  }

  & > .subtitle {
    color: map-get($colors, "black");
    font-size: 48px;
    font-family: "Averta-Semibold";
    text-transform: uppercase;
  }

  & > .note {
    font-size: 24px;
    margin: 15px;
  }

  & > .goback {
    @extend .button;
    @extend .-primary;
    @extend .-rounded;

    font-size: 24px;
    justify-content: center;
    line-height: 70px;
    height: 70px;
    width: 400px;
    margin: 30px;
  }
}
