.job-applications-container {
  display: inline-block;
}

.job-listing.-job-applications {
  display: inline-block;
  > .job-application { display: inline-block; width: 300px; }
}

.more-jobapplications-btn {
  display: inline-block;
}

.joblistings-dropdown {
  width: 200px;
}

