// Breakpoint mixins
@mixin mobile {
  @media #{map-get($breakpoints, "mobile")} {
    @content
  }
}

@mixin desktop {
  @media #{map-get($breakpoints, "desktop")} {
    @content
  }
}

@mixin bp1 {
  @media #{map-get($breakpoints, "bp1")} {
    @content
  }
}

@mixin bp2 {
  @media #{map-get($breakpoints, "bp2")} {
    @content
  }
}

@mixin bp3 {
  @media #{map-get($breakpoints, "bp3")} {
    @content
  }
}


@mixin bp4 {
  @media #{map-get($breakpoints, "bp4")} {
    @content
  }
}

// Hides an element on mobile devices
@mixin hide-on-mobile {
  @include mobile {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
