// background-image creates an inline block element with a background image
// and sets the background image to cover the dimensions of the element. This
// is useful for images that you do not want to be treated like img tags. e.g
// the first circle logo.

.background-image {
  display: inline-block;
  background-size: cover;
  background-position: center;
}

body {
  background-color: map-get($colors, "gray100");
}

body.has-fixed-header {
  padding-top: 60px;
}

.turbolinks-progress-bar {
  height: 4px;
  background-color: map-get($colors, 'blue500');
}

// when inputs have errors rails will wrap them in a field_with_errors div.
// This can break the layout of the page. This styling will ensure they do not
// add line breaks where we dont want them
.field_with_errors { display: inline; }
