.existing-loans{
  @include mobile{
    padding: 0;
  }

  h4{
    margin-top: 11px;
  }

  .add-items-to-list{

    .btn{
      width: auto;
      border-radius: 0;
      font-size: 14px;

      @include mobile{
        align-items: center;
        flex-direction: column;
        height: 60px;
        font-size: 17px;
        line-height: 60px;
        text-transform: uppercase;
      }
    }
    .btn-add{
      flex: 1;

      @include mobile{
        flex: 1;
      }
    }
  }
}
