.existing-loan-list{
  @include desktop{
    max-height: 120px;
    overflow: scroll;
  }
  @include mobile{
    padding: 0 15px;
    margin-bottom: 8px;
  }
  li{
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .border-bottom;

    &:last-child{
      border-bottom: none;
    }
    span{
      line-height: 17px;
      @extend .textAlign-left;
      color: #576173;
      @extend .fontWeight-semibold;
      @extend .textTransform-uppercase;
    }
    small{
      @extend .display-block;
      font-size: 9px;
      line-height: 11px;
      color: map_get($colors , 'grey');
    }
    .icon{
      font-size: 15px;
      line-height: 15px;
    }

  }

  .img-wrap{
    width: 65px;
    height: 39px;
    img{
      width: 100%;
      height:inherit;
    }
  }

}
