.requirements-submission { // rs
 overflow: hidden;
 height: 420px;

  & > .panel {
    width: 50%;
    box-sizing: border-box;

    @include mobile {
      width: 100%;
    }
  }

  & > .panel .default-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten(map-get($colors, 'blue500'), 10%);
  }

  @include mobile {
    height: inherit;
  }

  //TODO: Heading tag css
  h2 {
    font-size: 20px;
    line-height: 26px;
    color: map_get($colors , 'asphalt');
    margin-bottom: 10px;
    @extend .fontWeight-semibold;
  }

  h3 {
    font-size: map_get($fontSizes, 'l');
    line-height: 23px;
    color: map_get($colors, 'black');
    margin-bottom: 10px;
    @extend .fontWeight-semibold;
  }

  h4 {
    font-size: map_get($fontSizes, 's');
    line-height: 18px;
    color: map_get($colors , 'asphalt');
    margin-bottom: 10px;
    @extend .fontWeight-semibold;
  }

  .btn-photo-capture{
    background-color: map-get($colors, 'brand') ;
  }

  .loading{
    width: 100%;
  }
}

//end of requirements-submission

.rs-boxSection.color-green *{
  color: map-get($colors, "green");
}

.flex-10{  flex: 0 10%;  }
.flex-20{  flex: 0 20%;  }
.flex-40{  flex: 0 40%;  }
.flex-50{  flex: 0 50%;  }
.flex-70{  flex: 0 70%;  }
