.rs-terms {
  padding: 62px 30px 26px 32px;

  @include mobile {
    padding: 28px 30px 33px 30px;
  }

  > h4 {
    color: map-get($colors, "asphalt");
    margin-bottom: 18px;
    @extend .fontWeight-semibold;
    @extend .textTransform-uppercase;
    @include mobile {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 20px;
      color: map-get($colors, "black");
    }
  }
  > p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    @extend .color-grey;
  }

  .rs-checkbox {
    margin-bottom: 17px;
    padding-top: 3px;
    @include mobile {
      padding-top: 6px;

    }
  }
  strong {
    color: map-get($colors, "asphalt");
  }
  label {
    font-size: 13px;
    line-height: 16px;
  }
  small {
    font-size: 13px;
    line-height: 16px;
  }
  .btn {
    margin-top: 4px;

    &[disabled] {
      @extend .backgroundColor-grey-l;
      cursor: not-allowed;
    }
  }

}
