.backgroundRepeat-repeat    { background-repeat: repeat; }
.backgroundRepeat-repeatX   { background-repeat: repeat-x; }
.backgroundRepeat-repeatY   { background-repeat: repeat-y; }

// This naming convention is incorrect
.backgroundRepeat-no-repeat { background-repeat: no-repeat; }
