.backgroundSize-cover { background-size: cover; }
.backgroundSize-contain { background-size: contain; }
.backgroundSize-auto    { background-size: auto; }
.backgroundSize-50  { background-size: 50%; }
.backgroundSize-100 { background-size: 100%; }
