.fontWeight-b { font-family: "Averta-Bold"; font-weight: normal; }
.fontWeight-bold { font-family: "Averta-Bold"; font-weight: normal; }
.fontWeight-m { font-family: "Averta-Semibold"; font-weight: normal; }
.fontWeight-semibold { font-family: "Averta-Semibold"; font-weight: normal; }
.fontWeight-r { font-family: "Averta-Regular"; font-weight: normal; }
.fontWeight-regular { font-family: "Averta-Regular"; font-weight: normal; }
.fontWeight-l { font-family: "Averta-Light"; font-weight: normal; }
.fontWeight-light { font-family: "Averta-Light"; font-weight: normal; }
