// overflow
.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.overflow-visible { overflow: visible; }
.overflow-scroll { overflow: scroll; }

.overflowX-auto { overflow-x: auto; }
.overflowX-hidden { overflow-x: hidden; }
.overflowX-visible { overflow-x: visible; }
.overflowX-scroll { overflow-x: scroll; }

.overflowY-auto { overflow-y: auto; }
.overflowY-hidden { overflow-y: hidden; }
.overflowY-visible { overflow-y: visible; }
.overflowY-scroll { overflow-y: scroll; }
