// text-transform
.textTransform-uppercase { text-transform: uppercase; }
.textTransform-capitalize { text-transform: capitalize; }
.textTransform-lowercase { text-transform: lowercase; }
.textTransform-initial { text-transform: initial; }
.textTransform-none { text-transform: none; }
