.userSelect-none    { user-select: none; }
.userSelect-auto    { user-select: auto; }
.userSelect-text    { user-select: text; }
.userSelect-contain { user-select: contain; }
.userSelect-all { user-select: all; }
