.code-line {
  background-color: map-get($colors, 'white');
  border-radius: map-get($borderRadii, 's');
  color: map-get($colors, "blue500");
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: map-get($fontSizes, 's');
  letter-spacing: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: map-get($spacing, "s");
  padding-right: map-get($spacing, "s");
  white-space: pre-wrap;
}
