// TODO: add all headings h1-h6
.Heading, .heading {
  font-family: "Averta-Semibold";
  font-size: map-get($fontSizes, "xxl");
  margin-left: -1.8px;
  line-height: 4rem;

  &.-small {
    font-size: map-get($fontSizes, "m");
    margin-left: -1.4px;
    line-height: 28px;
  }

  &.-sub {
    font-size: map-get($fontSizes, "xxl");
    margin-left: -1.4px;
    line-height: 3.2rem;
    font-family: "Averta-Light";
  }

  &.-title {
    font-size: map-get($fontSizes, "xxxxl");
    margin-left: -2px;
    line-height: 56px;
  }

  &.-regular {
    font-family: "Averta-Regular";
  }
}

.Heading.small {
  font-size: map-get($fontSizes, "m");
  margin-left: -1.4px;
  line-height: 28px;
}

.Heading.sub {
  font-size: map-get($fontSizes, "xxl");
  margin-left: -1.4px;
  line-height: 3.2rem;
  font-family: "Averta-Light";
}

.Heading.title {
  font-size: map-get($fontSizes, "xxxxl");
  margin-left: -2px;
  line-height: 56px;
}

.Heading.regular {
  font-family: "Averta-Regular";
}
