.list-group {
  list-style: none;
  padding-top: map-get($spacing, "s");
  padding-bottom: map-get($spacing, "s");

  &.-interactive {
    & .item:not(.-active):hover,
    & .list-group-item:not(.-active):hover {
      background-color: map-get($colors, "grey-xl");
      cursor: pointer;
    }
  }

  &.-bordered {
    & > .item {
      @extend .border-bottom;
    }
    & > .item:last-child {
      border-bottom: none;
    }
  }

  &.-rounded {
    & > .list-group-item {
      border-radius: map-get($borderRadii, "m");
    }
  }

  &.-size1 {
    & > .list-group-item {
      font-size: map-get($fontSizes, "m");
      padding-top: map-get($spacing, "xm");
      padding-bottom: map-get($spacing, "xm");
    }
  }

  &.-color1 {
    & > .list-group-item {
      color: map-get($colors, "grey-d");
    }
  }

  & > .item,
  .list-group-item {
    display: flex;
    padding-left: map-get($spacing, "m");
    padding-right: map-get($spacing, "m");
    padding-top: map-get($spacing, "s");
    padding-bottom: map-get($spacing, "s");
    min-height: map-get($spacing, "l");
    align-items: center;
    transition: all 100ms linear;
    font-size: map-get($fontSizes, "s");
  }

  & > .item.-large {
    padding: map-get($spacing, "m");
  }

  & > .item.-active,
  & .list-group-item.-active {
    background-color: map-get($colors, "blue");
    color: map-get($colors, "white");
  }
}
