.notice {
  background-color: rgba(map-get($colors, "blue"), 0.1);
  border: 1px solid map-get($colors, "blue");
  border-radius: map-get($borderRadii, "s");
  color: map-get($colors, "blue");
  font-size: map-get($fontSizes, "default");
  line-height: 22px;
  padding: map-get($spacing, "default");
  width: 100%;

  &.-neutral {
    background-color: rgba(map-get($colors, "grey"), 0.1);
    border: 1px solid map-get($colors, "grey");
    color: map-get($colors, "grey");
  }

  &.-warning {
    background-color: rgba(map-get($colors, "yellow"), 0.2);
    border: 1px solid map-get($colors, "yellow");
    color: map-get($colors, "yellow");
  }

  &.-negative {
    background-color: rgba(map-get($colors, "red"), 0.1);
    border: 1px solid map-get($colors, "red");
    color: map-get($colors, "red");
  }
}
