.password-strength-widget .strength-bars-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
}

.password-strength-widget .strength-bars-container div{
  width: 5%;
  height: 5px;
  margin: 1px;
  border-radius: 20%/50%;
  background-color: map-get($colors, 'grey-xl');
}

.password-strength-widget .strength-bars-container div.valid {
  background-color: map-get($colors, 'green');
}
