.TabGroup, .tab-menu {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;

  &.-uppercase {
    & > .Tab, & > .tab {
      text-transform: uppercase;
    }
  }
}

.Tab, .tab {
  display: block;
  margin-left:    map-get($spacing, "xm");
  margin-right:   map-get($spacing, "xm");
  padding-top:    map-get($spacing, "xm");
  padding-bottom: map-get($spacing, "xm");
  text-decoration: none;
  font-size: map-get($fontSizes, "xs");
  color: map-get($colors, 'gray500');
  cursor: pointer;

  &.-small { font-size: map-get($fontSizes, "s"); }
  &.-medium { font-size: map-get($fontSizes, "m"); }
  &.-large { font-size: map-get($fontSizes, "l"); }
}

.TabGroup.-tight .Tab {
  margin-left:    map-get($spacing, "s");
  margin-right:   map-get($spacing, "s");
}

.Tab:hover, .tab:hover {
  color: map-get($colors, "black");
}

.Tab.active, .tab.-active {
  color: map-get($colors, "blue");
  border-bottom: 3px solid map-get($colors, "blue");
  cursor: default;
}

.Tab.disabled, .tab.-disabled {
  color: map-get($colors, "grey-l");
  border-color: map-get($colors, "grey-xl");
  pointer-events: none;
}

.tab-menu.-rounded > .tab.-active {
  padding: map-get($spacing, 's');
  border-radius: map-get($borderRadii, "rounded");
  border: 2px solid map-get($colors, "blue");
  cursor: default;
  color: map-get($colors, "blue");
}

.tab.-active {
  color: map-get($colors, "blue");
  border-bottom: 2px solid map-get($colors, "blue");
  cursor: default;
}

.Tab.greyed {
  color: map-get($colors, "grey-l");
  border-color: map-get($colors, "grey-xl");
  .status {
    cursor: auto;
  }
}
