.table {
  width: 100%;
  max-width: 100%;
  font-size: map-get($fontSizes, 's');

  &.-responsive {
    @include mobile {
      tbody > tr {
        border-bottom: none;
        margin-bottom: map-get($spacing, "s");
      }

      thead > tr > th {
        display: none;
      }

      tbody > tr > td {
        display: block;
        border-bottom: 1px solid map-get($colors, 'gray100');
      }

      tbody > tr > td:last-child {
        margin-bottom: map-get($spacing, "m");
        border-bottom: none;
      }

      tbody > tr > td[data-th]:before,
      {
        display: inline-block;
        content: attr(data-th)": ";
        width: 100px;
      }
    }
  }
}

.table tr {
  border-bottom: 1px solid map-get($colors, 'gray100');
}

.table td,
.table th {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 22px;
}

.table th {
  font-weight: 400;
  color: map-get($colors, 'gray500');
}

// Padded variant
.table.-padded th:first-child,
.table.-padded td:first-child {
  padding-left: map-get($spacing, 'm');
}

.table.-padded th:last-child,
.table.-padded td:last-child {
  padding-right: map-get($spacing, 'm');
}
