.drawer {
  width: 400px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 15;
  position: fixed;
  box-shadow: 0 3px 15px rgba(map-get($colors, 'black'), .1);
  transition-property: all;
  transition-duration: map-get($transitionDurations, "s");
  transition-timing-function: ease;
  transform: translate(400px, 0);
}

.drawer--open {
  transform: translate(0, 0);
}
