.body-with-nav-bar {
    padding-left: map-get($spacing, "xxxxl");
}

.LeftNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: map-get($colors, 'black');
    position: fixed;
    left: 0px;
    width: map-get($spacing, "xxxxl");
    top: 0px;
    bottom: 0px;
    text-align: center;
    backface-visibility: hidden;
}

.LeftNav-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: map-get($spacing, "xxxxl");

    text-decoration: none;
    color: map-get($colors, 'grey');
    font-family: 'Averta-Semibold';
    transition-property: color;
    transition-duration: map-get($transitionDurations, 's');
    transition-timing-function: ease;
}

.LeftNav-item:hover {
    color: map-get($colors, 'grey-l');
}

.LeftNav-item.active {
    color: map-get($colors, 'white');
}

.LeftNav .logo {
    background-image: asset_url("logomark-trans.png");
    width: map-get($spacing, "xl");
    height: map-get($spacing, "xl");
    background-repeat: no-repeat;
    background-size: 38px;
}
