.loan-plan-figures {
  @extend .container;
  @extend .columns;
  @extend .columns-full-width;
  padding-top: map-get($spacing, "xxl");
  padding-bottom: map-get($spacing, "xxl");

  @include mobile {
    padding-bottom: map-get($spacing, "m");
  }

  .figure {
    @extend .column;
    @extend .column-3;
    padding-top: map-get($spacing, "m");
    padding-bottom: map-get($spacing, "m");
    border-right: 1px solid map-get($colors, "grey-l");

    &:last-child { border-right: none; }

    @include mobile {
      border-radius: map-get($borderRadii, "m");
      margin-bottom: map-get($spacing, "s");
      border-right: none;
      padding-left: map-get($spacing, "m");
      padding-right: map-get($spacing, "m");
      background-color: white;
      box-shadow: 0 1px 2px rgba(map-get($colors, "black"), 0.1);
    }
  }
}
