.navigation {
  @extend .clearfix;

  a {
    float: left;
    height: 60px;
    font-size: map-get($fontSizes, 'm');
    line-height: 60px;
    margin-right: 40px;
    display: inline-block;
    color: map-get($colors, 'grey');
    border-bottom: 2px solid transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover { color: map-get($colors, 'black'); }

    &.current {
      color: map-get($colors, 'blue');
      border-bottom: 2px solid map-get($colors, 'blue');
    }
  }
}
