.timeline {
    position: relative;
    padding-left: map-get($spacing, "l");
}

.timeline::before {
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: map-get($colors, "grey-l");
}

.timeline-event {
    position: relative;
}

.timeline-icon {
  top: map-get($spacing, "xs");
  left: -45px;
  width: map-get($spacing, "l");
  height: map-get($spacing, "l");
  display: block;
  position: absolute;
  border-radius: map-get($borderRadii, "s");
  text-align: center;
  line-height: 38px;
}

.timeline-block {
    box-shadow: 0 1px 1px rgba(map-get($colors, "black"), 0.1);
}

.file-icon {
  width: map-get($spacing, "l");
  height: map-get($spacing, "xl");
  display: inline-block;
  background-size: cover;
  background-image: image_url("file.png");
}
