// Used to render a list of withdrawals in FCA.
//
.withdrawals {
  @extend .card;

  .withdrawal {
    position: relative;
    padding-top: map-get($spacing, "xm");
    padding-left: map-get($spacing, "xm");
    padding-right: map-get($spacing, "xm");
    padding-bottom: map-get($spacing, "xm");
    border-bottom: 1px solid map-get($colors, 'grey-xl');
    &:last-child { border-bottom: 0; }
  }
}
