// Steps

.step-header-container {
  display: flex;
  justify-content: center;
  color: map-get($colors, 'grey');
  letter-spacing: 0px;
  margin-bottom: 10px;

  @include mobile {
    font-size: map-get($fontSizes, 'm');
  }

  @include desktop {
    font-size: map-get($fontSizes, 'l');
  }
}

.step-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.step-info {
  font-family: "Averta-Light";
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: map-get($colors, 'grey');

  @include mobile {
    font-size: map-get($fontSizes, 's');
    margin-top: map-get($spacing, 'xs');
  }

  @include desktop {
    font-size: map-get($fontSizes, 'xl');
  }
}

.step-info.verification {
  @include desktop {
    font-size: map-get($fontSizes, 'm');
    padding-left: map-get($spacing, 'm');
    padding-right: map-get($spacing, 'm');
    margin-bottom: map-get($spacing, 'm');
  }
}

// Container Styling

.container.account-creation-container {
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container.verification-container {
  @include desktop { height: 100vh; }
}

// Card Styling

.card.account-creation {
  @include mobile {
    padding: map-get($spacing, 'xm');
  }

  @include desktop {
    padding: map-get($spacing, 'l');
  }
}

.card.account-creation.verification-form {
  @include desktop {
    padding: 150px;
  }
}

.account-creation-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-creation-actions.account-element-right {
  justify-content: flex-end;
}

.account-creation-back-btn {
  color: map-get($colors, 'grey');

  span {
    font-size: map-get($fontSizes, 'xxs');
  }

  span.back-text {
    position: relative;
    right: 10px;
    bottom: 1px;
  }
}

.connect-facebook-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;

  @include mobile{
    margin-left: map-get($spacing, 'xs');
    margin-right: map-get($spacing, 'xs');
  }

}

.strikethrough-container {
  padding-left: map-get($spacing, 'xl');
  padding-right: map-get($spacing, 'xl');

  @include desktop {
    margin-top: map-get($spacing, 'l');
    margin-bottom: map-get($spacing, 's');
  }
}

// Form styling

.form-account-creation-container {
  clear: both;
  display: flex;
  justify-content: center;
}

.form-account-creation {
  @include mobile {
    width: 93%;
    margin-top: map-get($spacing, 's');
  }

  @include desktop {
    width: 300px;
    margin-top: 25px;
  }

  label {
    margin-left: map-get($spacing, 's');
    color: map-get($colors, 'grey');
  }
}


.form-account-creation .pin-input {
  width: 50px;
  line-height: 45px;
  text-align: center;
  box-shadow: none;
  border-color: map-get($colors, 'grey-l');
  font-size: map-get($fontSizes, 'xl');
}

.form-account-creation ::-webkit-input-placeholder {
  color: darken(map-get($colors, "grey-xl"), 20);
  @include mobile { font-size: map-get($fontSizes, 'xs'); }
}

.form-account-creation :-moz-placeholder {
  color: darken(map-get($colors, "grey-xl"), 20);
  @include mobile { font-size: map-get($fontSizes, 'xs'); }
}

.form-account-creation ::-moz-placeholder {
  color: darken(map-get($colors, "grey-xl"), 20);
  @include mobile { font-size: map-get($fontSizes, 'xs'); }
}
.form-account-creation :-ms-input-placeholder {
  color: darken(map-get($colors, "grey-xl"), 20);
  @include mobile { font-size: map-get($fontSizes, 'xs'); }
}

.form-account-creation input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-account-creation .submit-btn-container {
  text-align: center;

  @include mobile {
    margin-top: map-get($spacing, 's');
    margin-bottom: map-get($spacing, 's');
  }

  @include desktop {
    margin-top: map-get($spacing, '0');
    margin-bottom: map-get($spacing, 'm')
  }
}

// Progress Bar styling, same from Epic 4

.progress-bar {

  .progress {
    background-color: map-get($colors, 'green');
  }

  &.progress-bar-large {
    height: 30px;
    background-color: map-get($colors, 'black');
    border-radius: 0;

    .progress-text {
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      line-height: 30px;
    }
  }

  &.progress-bar-extrasmall {
    width: 60px;
    height: auto;
    background-color: transparent;

    .progress-wrap {
      width: 100%;
      height: 15px;
      background-color: map-get($colors, 'grey-xl');
      border-radius: 4px;
      margin: 0 0 3px;
    }

    .progress-text {
      font-size: 8px;
      line-height: 12px;
    }
  }
}


.form-personal-info-1 {
  @include mobile { width: 100% }
  @include desktop { width: 500px; }
  margin-top: map-get($spacing, 'xm');

  label {
    margin-left: map-get($spacing, 's');
    color: map-get($colors, 'grey');
  }
}

.form-personal-info-2 {
  @include mobile { width: 100% }
  @include desktop {
    width: 500px;
    margin-top: map-get($spacing, 'xm');

  }

  label {
    margin-left: map-get($spacing, 's');
    color: map-get($colors, 'grey');
  }
}

.form-personal-info-upload-id {
  @include mobile { width: 93% }
  @include desktop { width: 300px; }
  margin-top: map-get($spacing, 'xm');

  label {
    margin-left: map-get($spacing, 's');
    color: map-get($colors, 'grey');
  }
}

.fake-link {
  text-decoration: none;
  cursor: pointer;
}
