.welcome-body {
  float: none;
  width: 100%;
  height: 100vh;

  @include desktop {
    min-width: 1000px;
    height: 100vh;
  }
}

.application-content-2 {
  text-align:center;

  .fc-logo-2 {
    margin-top: map-get($spacing, 'xl');
  }

  .admin-section-name,
  .admin-section-role,
  .style14,
  .blurb { @include hide-on-mobile; }

  .admin-section-name { margin-top: map-get($spacing, 'l'); }

  .introductory-body-2 {
    padding-right: map-get($spacing, 'xl');
    padding-left: map-get($spacing, 'xl');
  }

  .introductory-body-2.-direct-lead {
    padding: map-get($spacing, 'xl');
  }

  h1.initial-2 {
   margin-top: map-get($spacing, 'm');
   margin-bottom: map-get($spacing, 'm');
   font-size: map-get($fontSizes, 'xl');
   text-align: center;
 }

  p.initial-2 {
    max-width: 400px;
    text-align: left;
  }

  .avatar {
    margin-top: map-get($spacing, 'm');
    width: 100px;
    height: 100px;
  }

  .continueButton-2 {
    margin-top: map-get($spacing, 'xl');
    margin-bottom: map-get($spacing, 'xl');
  }

  @include desktop {
    float: right;
    min-width: 500px;
    width: 75%;
    height: 100vh;
    text-align: center;
    background: asset-url('initial_screens_background.jpg') center center;
    background-size: cover;

    .fc-logo-2 {
      margin-top: map-get($spacing, 'xxl');
    }

    .main-body {
      height: 380px;
      min-width: 600px;
      max-width: 55%;
      margin: 0 auto;
    }

    .admin-section {
      float: left;
      max-width: 150px;
      width: 400px;
      padding-top: map-get($spacing, 'l');

      .admin-section-name {
        font-weight: bold;
        font-size: map-get($fontSizes, 'l');
      }

      .admin-section-role {
        font-size: map-get($fontSizes, 'l');
        color: grey;
      }
      .blurb { margin-top: map-get($spacing, 'm'); }
    }

    hr.style14 {
      height: 1px;
      border: 0;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }

    .introductory-body-2 {
      float: left;
      max-width: 75%;
      padding-top: map-get($spacing, 'l');
      text-align: left;
    }

    h1.initial-2 { text-align: left; }

    p.initial-2 {
      margin-bottom: map-get($spacing, 'm');
      max-width: 500px;
      font-size: map-get($fontSizes, 'xl');
      line-height: map-get($spacing, 'l');
    }

    .continueButton-2 {
      margin-top: map-get($spacing, 'xs');
      margin-bottom: map-get($spacing, 'xl');
    }

    .btn-l-custom {
      height: 50px;
      line-height: 50px;
      width: auto;
      font-size: map-get($fontSizes, 's');
    }
  }
}

.carousel-2 {
  background: rgb(35, 48, 65);

  @include hide-on-mobile;

  @include desktop {
    position: relative;
    float: left;
    min-width: 250px;
    width: 25%;
    height: 100vh;

    .carousel-container { margin-top: map-get($spacing, 'xxl'); }

    .partners-text {
      position: static;
      font-size: map-get($fontSizes, 's');
    }

    .circle-text {
      font-size: map-get($fontSizes, 'xxl');
    }
  }
}

.initial-screens-background-image {
  @include mobile {
    background: asset-url('initial_screens_background.jpg') center center;
    background-size: cover;
  }
}
