.section {
  &.-profile {
    margin-left: map-get($spacing, 'xm');
    margin-bottom: map-get($spacing, 'm');
  }

  &.-business-information {
    margin-left: map-get($spacing, 'xm');
    margin-top: map-get($spacing, 'm');
    margin-bottom: map-get($spacing, 'm');
  }

  @include desktop {
    &.-profile, &.-business-information {
      margin-left: map-get($spacing, '0');
    }
  }
}
