$topNavPad: 3.75rem;
$leftNavPad: 5rem;

$spacing: (
  'xxxxl': 5rem,
  'xxxl': 4rem,
  'xxl': 2.75rem,
  'xl': 2.5rem,
  'l': 2rem,
  'm': 1.5rem,
  'xm': 1rem,
  'default': 1rem,
  's': .5rem,
  'xs': .25rem,
  '0': 0,
);
