.file-picker .file {
    height: map-get($spacing, "m");
    line-height: map-get($spacing, "m");
    padding-left: 95px;
    position: relative;
    width: 100%;
}

.file-picker .file-name {
    font-size: map-get($fontSizes, 'xs');
    text-overflow: ellipsis;
}

.file-picker  .file-selector {
    background-color: rgba(map-get($colors, "blue"), 0.1);
    border-radius: map-get($borderRadii, "s");
    color: map-get($colors, "blue");
    cursor: pointer;
    display: inline-block;
    font-size: map-get($fontSizes, 'xs');
    height: map-get($spacing, "m");
    line-height: map-get($spacing, "m");
    left: 0;
    padding-left: map-get($spacing, "s");
    padding-right: map-get($spacing, "s");
    position: absolute;
    top: 0;
}

.file-picker  .file-selector:hover {
    background-color: rgba(map-get($colors, "blue"), 0.2);
}

.file-picker  .file-selector input {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
}
