.image-upload {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-upload-large {
  @extend .image-upload;

  height: 10rem;
  position: relative;
  background-color: map-get($colors, 'grey-xl');

  & > .image {
    width: inherit;
  }

  & > button {
    position: absolute;
  }
}
