.ToggleSwitch {
  position: relative;
  display: inline-block;
  width: map-get($spacing, 'l');
  height: map-get($spacing, 's');
}

.ToggleSwitch input {
  display: none;
}

.ToggleSwitch .track {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: map-get($colors, 'grey-l');
  transition: all 100ms;
  border-radius: 9999px;
}

.ToggleSwitch .track:before {
  position: absolute;
  content: "";
  height: map-get($spacing, 'xm');
  width: map-get($spacing, 'xm');
  left: 0;
  bottom: -4px;
  background-color: map-get($colors, 'grey');
  transition: all 100ms ease;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
}

.ToggleSwitch input:checked + .track {
  background-color: map-get($colors, 'green');
}

.ToggleSwitch input:checked + .track:before {
  transform: translateX(map-get($spacing, 'xm'));
  background-color: map-get($colors, 'white');
}
